Repository eigenpal/docx-js-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: Add cursor-only paragraph tests and update Ralph loop
  .ralph/04_test_infrastructure.md
  .ralph/progress.txt
  CLAUDE.md
  e2e/tests/cursor-paragraph-ops.spec.ts
Due: prettier --write, eslint --fix

feat: Stream Ralph output in real-time with tee
  scripts/ralph.sh
Due: none

refactor: Simplify Ralph plan management
  .ralph/ARCHIVED_01_initial_plan.md
  .ralph/ARCHIVED_03_phase15_production.md
  .ralph/CURRENT
  scripts/ralph.sh
  scripts/watch.sh
Due: prettier --write

fix: Support cursor-only paragraph operations (lists, alignment, indent)
  .ralph/04_test_infrastructure.md
  .ralph/progress.txt
  e2e/tests/cursor-paragraph-ops.spec.ts
  src/components/AIEditor.tsx
Due: prettier --write, eslint --fix

fix: Verify alignment with cursor only works
  .ralph/04_test_infrastructure.md
  .ralph/last_output.txt
  .ralph/progress.txt
Due: prettier --write

fix: Verify bullet list with cursor only works
  .ralph/04_test_infrastructure.md
  .ralph/progress.txt
Due: prettier --write

fix: Verify indent with cursor only works
  .ralph/04_test_infrastructure.md
  .ralph/progress.txt
  progress.txt
Due: prettier --write

fix: Support Ctrl+A selection and multi-paragraph formatting
  .ralph/04_test_infrastructure.md
  .ralph/progress.txt
  src/components/Editor.tsx
  src/components/ui/AlignmentButtons.tsx
  src/components/ui/ListButtons.tsx
Due: prettier --write, eslint --fix

fix: Selection, clipboard, and cross-paragraph operations
  .ralph/progress.txt
  e2e/helpers/assertions.ts
  e2e/helpers/editor-page.ts
  e2e/tests/cross-paragraph-selection.spec.ts
  playwright.config.ts
  src/components/edit/EditableParagraph.tsx
Due: prettier --write, eslint --fix

feat: Add ProseMirror infrastructure for editor migration
  .ralph/progress.txt
  src/prosemirror/ProseMirrorEditor.tsx
  src/prosemirror/commands/formatting.ts
  src/prosemirror/commands/index.ts
  src/prosemirror/commands/paragraph.ts
  src/prosemirror/conversion/fromProseDoc.ts
  src/prosemirror/conversion/index.ts
  src/prosemirror/conversion/toProseDoc.ts
  src/prosemirror/index.ts
  src/prosemirror/plugins/index.ts
  src/prosemirror/plugins/keymap.ts
  src/prosemirror/plugins/selectionTracker.ts
  src/prosemirror/schema/index.ts
  src/prosemirror/schema/marks.ts
  src/prosemirror/schema/nodes.ts
Due: prettier --write, eslint --fix

fix: Port E2E tests to ProseMirror editor
  e2e/helpers/assertions.ts
  e2e/helpers/editor-page.ts
  e2e/tests/alignment.spec.ts
  e2e/tests/formatting.spec.ts
  e2e/tests/lists.spec.ts
  src/components/DocxEditor.tsx
  src/prosemirror/ProseMirrorEditor.tsx
Due: prettier --write, eslint --fix

fix: Fix text rendering issues in ProseMirror editor
  src/prosemirror/editor.css
  src/prosemirror/schema/nodes.ts
Due: prettier --write, eslint --fix

fix: Prevent line-height: 0 from squashing paragraphs
  src/prosemirror/editor.css
  src/prosemirror/schema/nodes.ts
  src/utils/formatToStyle.ts
Due: prettier --write, eslint --fix

feat: Add lineSpacing and applyStyle handlers to toolbar
  .ralph/04_test_infrastructure.md
  .ralph/progress.txt
  CLAUDE.md
  demo/main.tsx
  e2e/scenarios/formatting.json
  e2e/scenarios/lists.json
  e2e/tests/visual-regression.spec.ts-snapshots/bold-text-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/combined-formatting-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/editor-container-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/empty-editor-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/full-page-empty-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/full-page-with-content-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/multiple-paragraphs-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/narrow-viewport-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/select-all-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/simple-text-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/text-selection-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/toolbar-bold-active-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/toolbar-default-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/toolbar-multiple-active-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/underlined-text-chromium-darwin.png
  e2e/tests/visual-regression.spec.ts-snapshots/wide-viewport-chromium-darwin.png
  scripts/watch-progress.sh
  src/agent/executor.ts
  src/components/AIEditor.tsx
  src/components/DocxEditor.tsx
  src/components/Editor.tsx
  src/components/edit/EditableParagraph.tsx
  src/components/edit/EditableRun.tsx
  src/hooks/index.ts
  src/hooks/useSelection.ts
  src/index.ts
  src/prosemirror/commands/index.ts
  src/prosemirror/commands/paragraph.ts
  src/prosemirror/index.ts
Due: prettier --write, eslint --fix

feat: Create style resolver utility for ProseMirror editor
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/styles/index.ts
  src/prosemirror/styles/styleResolver.test.ts
  src/prosemirror/styles/styleResolver.ts
Due: prettier --write, eslint --fix

feat: Apply paragraph styles when rendering in ProseMirror
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/ProseMirrorEditor.tsx
  src/prosemirror/conversion/index.ts
  src/prosemirror/conversion/toProseDoc.ts
  src/prosemirror/index.ts
Due: prettier --write, eslint --fix

feat: Apply resolved style properties when changing paragraph style
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/components/DocxEditor.tsx
  src/prosemirror/commands/index.ts
  src/prosemirror/commands/paragraph.ts
Due: prettier --write, eslint --fix

feat: Sync style picker with current paragraph styleId
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/components/DocxEditor.tsx
  src/prosemirror/ProseMirrorEditor.tsx
Due: prettier --write, eslint --fix

feat: Add table nodes to ProseMirror schema
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/schema/index.ts
  src/prosemirror/schema/nodes.ts
Due: prettier --write, eslint --fix

feat: Convert DOCX tables to ProseMirror
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/conversion/toProseDoc.ts
Due: prettier --write, eslint --fix

feat: Convert tables back in fromProseDoc
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/conversion/fromProseDoc.ts
Due: prettier --write, eslint --fix

feat: Add table CSS styling
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/editor.css
Due: prettier --write

feat: Add basic table editing with Tab navigation
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/plugins/keymap.ts
Due: prettier --write, eslint --fix

feat: Create tab calculation utility
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/utils/tabCalculator.test.ts
  src/prosemirror/utils/tabCalculator.ts
Due: prettier --write, eslint --fix

feat: Enhance tab CSS styling
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/prosemirror/editor.css
Due: prettier --write

feat: Connect superscript/subscript to toolbar
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  src/components/DocxEditor.tsx
Due: prettier --write, eslint --fix

chore: Mark Tasks 13-15 complete (toolbar verification)
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
Due: prettier --write

docs: Update CLAUDE.md with ProseMirror architecture
  .ralph/05_prosemirror_feature_completion.md
  .ralph/progress.txt
  CLAUDE.md
Due: prettier --write

feat: Add paragraph borders and shading support
  src/prosemirror/conversion/fromProseDoc.ts
  src/prosemirror/conversion/toProseDoc.ts
  src/prosemirror/schema/nodes.ts
Due: prettier --write, eslint --fix

fix: Tab support and hanging indent rendering
  src/prosemirror/conversion/fromProseDoc.ts
  src/prosemirror/conversion/toProseDoc.ts
  src/prosemirror/schema/nodes.ts
  src/utils/formatToStyle.ts
Due: prettier --write, eslint --fix

fix: Tab key inserts tabs and toolbar shows font/formatting
  src/components/DocxEditor.tsx
  src/prosemirror/ProseMirrorEditor.tsx
  src/prosemirror/plugins/keymap.ts
  src/prosemirror/schema/nodes.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
  eslint --fix: any of: *.{ts,tsx}
