Repository eigenpal/docx-js-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: Resolve ESLint warnings
  playwright-report/index.html
  src/components/dialogs/PasteSpecialDialog.tsx
  src/components/edit/EditableParagraph.tsx
  src/components/ui/PageNavigator.tsx
  src/docx/explorer.ts
  src/docx/relsParser.ts
  src/utils/clipboard.ts
  src/utils/keyboardNavigation.ts
  src/utils/processTemplate.ts
Due: prettier --write, eslint --fix

feat: Start with empty document instead of requiring upload
  demo/main.tsx
  src/index.ts
  src/utils/createDocument.ts
Due: prettier --write, eslint --fix

feat: Replace toolbar icons with Google Material Symbols
  bun.lock
  package.json
  src/components/Toolbar.tsx
  src/components/ui/AlignmentButtons.tsx
  src/components/ui/ColorPicker.tsx
  src/components/ui/ListButtons.tsx
  src/components/ui/MaterialSymbol.tsx
Due: prettier --write, eslint --fix

feat: Add comprehensive Playwright test suite (554 tests)
  e2e/agentic/scenario-runner.ts
  e2e/agentic/scenario-types.ts
  e2e/editor.spec.ts
  e2e/fixtures/README.md
  e2e/fixtures/complex-styles.docx
  e2e/fixtures/empty.docx
  e2e/fixtures/generate-fixtures.ts
  e2e/fixtures/styled-content.docx
  e2e/fixtures/with-tables.docx
  e2e/helpers/assertions.ts
  e2e/helpers/editor-page.ts
  e2e/helpers/index.ts
  e2e/helpers/text-selection.ts
  e2e/scenarios/alignment.json
  e2e/scenarios/colors.json
  e2e/scenarios/edge-cases.json
  e2e/scenarios/find-replace.json
  e2e/scenarios/fonts.json
  e2e/scenarios/formatting.json
  e2e/scenarios/history.json
  e2e/scenarios/line-spacing.json
  e2e/scenarios/lists.json
  e2e/scenarios/paragraph-styles.json
  e2e/scenarios/tables.json
  e2e/scenarios/text-editing.json
  e2e/tests/alignment.spec.ts
  e2e/tests/colors.spec.ts
  e2e/tests/edge-cases.spec.ts
  e2e/tests/fonts.spec.ts
  e2e/tests/formatting.spec.ts
  e2e/tests/line-spacing.spec.ts
  e2e/tests/lists.spec.ts
  e2e/tests/paragraph-styles.spec.ts
  e2e/tests/scenario-driven.spec.ts
  e2e/tests/tables.spec.ts
  e2e/tests/text-editing.spec.ts
  e2e/tests/toolbar-state.spec.ts
  e2e/tests/visual-regression.spec.ts
  src/components/Toolbar.tsx
Due: prettier --write, eslint --fix

feat: Migrate toolbar to Radix UI and add Vercel deployment
  demo/index.html
  demo/main.tsx
  demo/styles.css
  package.json
  src/components/DocxEditor.tsx
  src/components/Toolbar.tsx
  src/components/ui/Button.tsx
  src/components/ui/FontPicker.tsx
  src/components/ui/FontSizePicker.tsx
  src/components/ui/LineSpacingPicker.tsx
  src/components/ui/Select.tsx
  src/components/ui/StylePicker.tsx
  src/components/ui/Tooltip.tsx
  src/components/ui/ZoomControl.tsx
  src/lib/utils.ts
  src/styles/editor.css
  vercel.json
Due: prettier --write, eslint --fix

fix: Prevent Material Symbols font flash on load
  demo/index.html
  src/components/ui/MaterialSymbol.tsx
Due: prettier --write, eslint --fix

chore: Add Ralph plan for test infrastructure fixes
  .ralph/04_test_infrastructure.md
Due: prettier --write

chore: Remove playwright-report from git and add to .gitignore
  .gitignore
  playwright-report/data/2b33469871e84ac6bf645ad000578ed9aa758dbe.png
  playwright-report/index.html
Due: none

Cleanup
  EP_ZMVZ_MULTI_v4.docx
  bun.lock
  index.html
  progress.txt
  scripts/ralph.sh
  scripts/watch-progress.sh
Due: none

feat: Fix backwards text rendering
  .ralph/04_test_infrastructure.md
  progress.txt
  src/components/edit/EditableRun.tsx
Due: prettier --write, eslint --fix

feat: Fix alignment button selectors in e2e tests
  .ralph/04_test_infrastructure.md
  e2e/helpers/editor-page.ts
  progress.txt
Due: prettier --write, eslint --fix

feat: Fix list button selectors in e2e tests
  .ralph/04_test_infrastructure.md
  activity.md
  e2e/helpers/editor-page.ts
  scripts/ralph.sh
  scripts/watch-progress.sh
Due: prettier --write, eslint --fix

feat: Fix indent button selectors in e2e tests
  .ralph/04_test_infrastructure.md
  activity.md
  e2e/helpers/editor-page.ts
Due: prettier --write, eslint --fix

feat: Verify strikethrough button selector matches tests
  .ralph/04_test_infrastructure.md
Due: prettier --write

docs: Add activity log entry for strikethrough selector verification
  activity.md
Due: prettier --write

docs: Verify clear formatting button selector matches tests
  .ralph/04_test_infrastructure.md
  activity.md
Due: prettier --write

feat: Fix font picker selector in e2e tests
  .ralph/04_test_infrastructure.md
  activity.md
  e2e/helpers/editor-page.ts
Due: prettier --write, eslint --fix

feat: Fix font size picker selector in e2e tests
  .ralph/04_test_infrastructure.md
  activity.md
  e2e/helpers/editor-page.ts
Due: prettier --write, eslint --fix

feat: Fix text color picker selector in e2e tests
  .ralph/04_test_infrastructure.md
  activity.md
  e2e/helpers/editor-page.ts
Due: prettier --write, eslint --fix

docs: Verify highlight color picker selector matches tests
  .ralph/04_test_infrastructure.md
  activity.md
Due: prettier --write

docs: Fix line spacing picker selector in e2e tests
  .ralph/04_test_infrastructure.md
  activity.md
  e2e/helpers/editor-page.ts
Due: prettier --write, eslint --fix

feat: Fix style picker selector in e2e tests
  .ralph/04_test_infrastructure.md
  activity.md
  e2e/helpers/editor-page.ts
Due: prettier --write, eslint --fix

feat: Fix bold formatting by handling Element node selections
  .ralph/04_test_infrastructure.md
  progress.txt
  src/components/AIEditor.tsx
Due: prettier --write, eslint --fix

feat: Fix combined formatting by restoring selection after DOM updates
  .ralph/04_test_infrastructure.md
  e2e/helpers/editor-page.ts
  src/components/DocxEditor.tsx
  src/components/Editor.tsx
  src/components/Toolbar.tsx
Due: prettier --write, eslint --fix

feat: Verify underline formatting application - all 4 tests pass
  .ralph/04_test_infrastructure.md
  e2e/tests/visual-regression.spec.ts-snapshots/italic-text-chromium-darwin.png
  progress.txt
Due: prettier --write

feat: Verify strikethrough formatting application - all 2 tests pass
  .ralph/04_test_infrastructure.md
Due: prettier --write

feat: Verify superscript/subscript - no tests exist for these features
  .ralph/04_test_infrastructure.md
Due: prettier --write

feat: Verify list functionality - basic list creation/toggle works, multi-item tests need Enter key support
  .ralph/04_test_infrastructure.md
Due: prettier --write

feat: Verify colors and fonts - 23/31 color tests pass, font tests pass
  .ralph/04_test_infrastructure.md
Due: prettier --write

feat: Verify alignment and paragraph styles - 22/29 alignment tests and 24/32 style tests pass
  .ralph/04_test_infrastructure.md
Due: prettier --write

feat: Verify undo/redo - 18/46 undo tests pass, basic functionality works
  .ralph/04_test_infrastructure.md
Due: prettier --write

feat: Verify table tests - all 13 tests are skipped (test.skip) pending implementation
  .ralph/04_test_infrastructure.md
Due: prettier --write

feat: Fix Enter key to create new paragraphs
  .ralph/04_test_infrastructure.md
  e2e/helpers/assertions.ts
  e2e/helpers/editor-page.ts
  progress.txt
  src/components/Editor.tsx
Due: prettier --write, eslint --fix

chore: Optimize Ralph loop for faster iteration
  .ralph/04_test_infrastructure.md
  CLAUDE.md
  PROMPT.md
  playwright.config.ts
Due: prettier --write, eslint --fix

chore: Add WYSIWYG fidelity bugs to plan
  .ralph/04_test_infrastructure.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
  eslint --fix: any of: *.{ts,tsx}
